<html>
	<head>
		<title>{%block title%}{%endblock%} - GT Map Editor</title>
		<meta charset="utf-8">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="/static/css/style.css">
		{%block head%}
		{%endblock%}
	</head>
	<body>
                <div id="app">
                <div id="banner">
                    <div class="banner-items left">{%block bannerl%}{%endblock%}</div>
                <div class="banner-items center"><h1 class="title">GT Map Editor</h1></div>
                <div class="banner-items right">{%block bannerr%}{%endblock%}<button id="logout" class="button">Log Out</button></div>
                </div>
		{%block body%}
		{%endblock%}
                </div>
                <div id="loading">
                    <img src="/static/images/loading.webp" id="loading-image">
                </div>
                <div id="error-box-container">
                    <div id="error-box">
                        <h2 id="error-box-title">Error</h2>
                        <div id="error-box-content"></div>
                        <div id="error-box-bottom"><button id="error-box-button" class="button">Ok</button></div>
                    </div>
                </div>

		<script src="/static/js/jquery.min.js"></script>
                <script src="/static/js/errorBox.js"></script>
                <script src="/static/js/logout.js"></script>
		{%block scripts%}

		{%endblock%}
	</body>
</html>


