{%extends 'base.html'%}
{%block title%}Viewing Map{%endblock%}
{%block head%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{%endblock%}
{%block bannerl%}
<button id="back-to-map" class="button drops-only">Back to map</button>
{%endblock%}
{%block bannerr%}
<button class="button" id="edit-help-open">Help</button>
{%endblock%}
{%block body%}
<template id="dg-template">
    <div class="dl-item">
        <div class="drop-group"><img class="flag-small drop-group-image"><span class="drop-group-name"></span></div>
        <div class="drop-count-outer"><span class="drop-count"></span>&nbsp;drops</div>
    </div>
</template>
<template id="drop-template">
    <div class="dl-item">
        <div class="drop"><img class="flag-small drop-image"><span class="drop-name"></span><span class="drop-desc"></span></div>
    </div>
</template>
<div id="site" class="nopad">
    <div class="panel-container">
        <div class="panel select-panel sp-drops">
            <div class="panel-title">
                <h1 id="map-title"></h1>
            </div>
            <div id="group-search" class="maps-search"> <input type="text" class="maps-search-input" placeholder="Search by group name"></input></div>
            <div class="filter drops-only maps-search" id="drop-filter">
                <select id="drop-filter-select">
                    <option name="all" value="All drops">All drops</option>
                    <option name="selected" value="Selected">Selected</option>
                </select>
            </div>
            <div class="panel-content" id="drop-list">
            </div>
            <div class="paginator drops-only" id="drop-paginator">
                <div>
                    Showing page&nbsp;<input type="number" id="dp-input" value="1" min="1"></input>&nbsp;of&nbsp;<span id="dp-total"></span></div>
                <div id="dp-arrows"><button class="dp-arrow" id="dp-minus">&lt;</button><button class="dp-arrow" id="dp-plus">&gt;</button></div>
            </div>
        </div>
        <div id="mapview" class="panel">
            <canvas id="overlay"></canvas>
            <div id="mapview-map">
            </div>
            <div id="mapview-ui">
                <div class="top">
                    <div class="right" id="map-radios">
                        <div class="right row" id="map-modes">
                            <input type="radio" checked name="mode" class="chbox-check ui-item" id="map-mode-view"></input><label title="view" for="map-mode-view" class="chbox-label ui-item"><span class="iconify" data-icon="mdi-eye-outline"></span></label>
                            <input type="radio" name="mode" class="chbox-check ui-item" id="map-mode-edit"></input><label title="edit" for="map-mode-edit" class="chbox-label ui-item"><span class="iconify" data-icon="mdi-pencil"></span></label>
                            <input type="radio" name="mode" class="chbox-check ui-item" id="map-mode-create"></input><label title="create" for="map-mode-create" class="chbox-label ui-item"><span class="iconify" data-icon="mdi-plus"></span></label>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <button class="button ui-item" title="Save map" id="save-map"><span class="iconify" data-icon="mdi-content-save"></span></button>
                        <button class="button ui-item" title="Map settings" id="map-settings-button"><span class="iconify" data-icon="mdi-cog"></span></button>
                        <button class="button ui-item" title="Import drops" id="import"><span class="iconify" data-icon="mdi-database-import"></span></button>
                    </div>
                    <div class="right">
                        <button class="button ui-item edit-mode" title="Delete selection" id="delete-selected"><span class="iconify" data-icon="mdi-delete"></span></button>
                        <button class="button ui-item" title="Reset map" id="reset-map"><span class="iconify" data-icon="mdi-crosshairs-gps"></span></button>
                        <button class="button ui-item" title="Select all" id="select-all"><span class="iconify" data-icon="mdi-select-all"></span></button>
                        <button class="button ui-item" title="Export selection" id="export-selected"><span class="iconify" data-icon="mdi-database-export"></span></button>
                    </div>
                </div>

            </div>
            <div class="darkbox-container db-global" id="map-settings">
                <div id="map-settings-inner" class="darkbox">
                    <h1 class="darkbox-title">Map Settings</h1>
                    <p class="formset"><input type="checkbox" id="show-coverage" checked></input><label for="show-coverage" class="label">Show coverage</label></p>
                    <p class="formset"><input type="range" id="coverage-opacity" value="1" min="0" max="1" step="0.01"></input><label for="coverage-opacity" class="label">Coverage opacity</label></p>
                    <p class="formset"><input type="color" id="marker-color" value="#ff0000"></input><label for="marker-color" class="label">Marker color</label></p>
                    <p class="formset"><input type="range" min="5" max="30" step="0.1" id="marker-size" value="10"></input><label for="marker-size" class="label">Marker size</p>
                    <div class="center"><button id="map-settings-hide" class="button">Close</button><button id="map-settings-reset" class="button">Reset</button></div>
                </div>
            </div>
            <div class="darkbox-container db-global" id="importer">
                <div id="importer-inner" class="darkbox">
                    <h1 class="darkbox-title">Drop Import</h1>
                    <div id="importer-content">
                    <form id="import-form">
                        <p class="formset"><input id="import-file" accept="application/json" type="file"></input></p>
                    </form>
                    <div id="importer-loading">
                    <div class="loading"> <img class="loading-image-small" src="/static/images/loading.webp" width="50"></div>
                    <div id="importer-loading-flavor">Fixing drops</div>
                    </div>
                    </div>
                    <div class="center"><button id="importer-hide" class="button">Close</button><button id="importer-import" class="button" disabled>Import</button></div>
                </div>
            </div>
            <div class="darkbox-container db-global" id="edit-help">
                <div class="darkbox" id="edit-help-inner">
                    <h1 class="darkbox-title">Editor Help</h1>
                    <div id="edit-help-content">
                        <p>
                        This editor works a little differently from the built-in one. The main UI difference is that changes you make aren't submitted immediately, but only after you press the save(<span class="iconify" data-icon="mdi-content-save"></span>) button on the lower left. 
                        </p>
                        <p>
                        The buttons on the top right let you switch between view mode (<span class="iconify" data-icon="mdi-eye-outline"></span>), edit mode (<span class="iconify" data-icon="mdi-pencil"></span>) and create mode (<span class="iconify" data-icon="mdi-plus"></span>).
                        </p>
                        <p>
                        In view mode you can select markers and view them. Use Shift+drag to box select.
                        Use the drop-down above the drop list to switch between viewing all markers and only the selected ones.<br>
                        Edit mode adds an additional button, <span class="iconify" data-icon="mdi-delete"></span>. This button deletes all selected drops.<br>
                        In create mode, you can click on the map to create a new drop. You cannot, however, select markers.
                        </p>
                        <p>
                        Using the <span class="iconify" data-icon="mdi-cog"></span> button, you can change map appearance.<br>
                        Using the <span class="iconify" data-icon="mdi-database-import"></span> button, you can import drops from JSON. Only the Geotastic and map-making.app formats are supported.
                        </p>
                        <p>
                        Use the <span class="iconify" data-icon="mdi-crosshairs-gps"></span> button to reset the map to fit the drops.<br>
                        Use the <span class="iconify" data-icon="mdi-select-all"></span> button to select all drops.<br>
                        Use the <span class="iconify" data-icon="mdi-database-export"></span> button to export the selected drops.
                        </p>
                        <p>
                        In the drop list, left click a drop to open it on Street View in a new tab, or middle click it to move the map to it
                        </p>
                        <p>
                        If you have any further questions or would like to report a bug, contact me at <a href="mailto:root@gtedit.tech">root@gtedit.tech</a>
                        </p>
                        <p>
                        The project is <a href="https://github.com/jenca-adam/gt_map_edit">open-source</a>.
                        </p>
                        <p>
                        Don't forget to press save.
                        </p>
                    </div>
                    <div class="center"><button class="button" id="edit-help-hide">Close</button></div>
                </div>
            </div>
        </div>

    </div>
</div>

{%endblock%}
{%block scripts%}
<script src="/static/js/core/core.min.js"></script>
<script src="/static/js/coreLoader.js"></script>
<script src="/static/js/proxy.js"></script>
<script src="/static/js/streetview.js"></script>
<script src="/static/js/viewMap.js"></script>
{%endblock%}
